<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../public/css/register.css" media="all">
    <link rel="stylesheet" href="../public/css/reset.css" media="all">
</head>
<body>
    <h2 class="log-title">新用户</h2>

    <form action="/register" method="post">
        <div class="container">
            <div class="cons">
                <span class="icon">
                    <img src="../public/img/icon/phone.png" alt="">
                </span>
                <input type="text" placeholder="电话号码" id="phone" name="phone">
            </div>
            <div class="cons">
                <span class="icon">
                    <img src="../public/img/icon/username.png" alt="">
                </span>
                <input type="text" placeholder="用户名长度为 2 - 10 位" id="nickname" name="nickname">
            </div>
            <div class="cons">
                <span class="icon" style="left: 17px; top: 13px;">
                    <img src="../public/img/icon/psw.png" alt="" style="width: 14px; height: 14px;">
                </span>
                <input type="password" placeholder="密码长度不少于 6 位" id="password" name="password">
            </div>
            <div class="cons">
                <span class="icon" style="left: 17px; top: 13px;">
                    <img src="../public/img/icon/psw.png" alt="" style="width: 14px; height: 14px;">
                </span>
                <input type="password" placeholder="确认密码" id="password2" name="password2">
            </div>
            <div class="cons">
                <span class="icon" style="left: 17px; top: 13px;">
                    <img src="../public/img/icon/yan.png" alt="" style="width: 14px; height: 14px;">
                </span>
                <input type="text" placeholder="验证码" style="width: 116px; float: left;" id="captcha" name="captcha">
                <b style="font-size: 18px; font-weight: 300; line-height: 38px; padding-left: 35px;" id="getcaptcha" >获取验证码</b>
            </div>
            <a href="/login">已有账号? 去登录</a>
            <button type="submit" id="register">注册</button>
        </div>
    </form>
    <script src="../public/js/jquery-1.12.4.js"></script>
    <script src="../public/js/register.js"></script>
</body>
</html>
